.container {
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.header {
  background: #1d3557;
  color: aliceblue;
  height: 12%;
}

.header > h1 {
  margin-left: 15%;
}

.header > h3 {
  margin-left: 15%;
  color: #f0f0f0;
}

.main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-grow: 9;
}

.chart {
  width: 70%;
  height: 80%;
}

.footer {
  margin-top: 3rem;
  flex-grow: 0.3;
  background: #1d3557;
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-container {
  padding: 0rem 1rem 0rem 1rem;
  width: 70%;
  height: 100%;
  color: #1d3557;
  background: aliceblue;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.tick {
  background: pink;
}

.transaction-to-volume-chart-container {
  height: 100%;
  flex-grow: 1;
  display: flex;
  color: #1d3557cb;
  position:relative;
  justify-content: center;
}
.transaction-to-volume-chart {
  width: 100%;
}

.sBar {
  fill: #1d3557;
}
.sBar:hover {
  fill: #347ee7
}

.tooltip {
  width: 255px;
  height: 205px;
  padding: 0.6em 1em;
  margin: 0;
  color: #1d3557;
  background: white;
  border: 1px solid #ddd;
  transform: translateX(-50%);
  box-shadow: 0 6px 8px rgba(52, 73, 94, .2), 0 1px 1px rgba(52, 73, 94, 0.1);
  z-index: 10;
  transition: all 0.2s ease-out;
  pointer-events: none;
  position: relative;
}

.tooltip:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 12px;
  height: 12px;
  background: white;
  border-top-color: transparent;
  border-left-color: transparent;
  transform: translate(-50%, 50%) rotate(45deg);
  transform-origin: center center;
  z-index: 10;
}

table {
  width: 100%;
}

.percentage {
  width: 50px;
  text-align: center;
}
.tooltip tr:nth-child(even) { background-color: #f2f2f2; }